<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lwstudio.springtodo.repository.mybatis.TodoMapper">

    <resultMap id="todo" type="Todo">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="description" column="description"/>
        <result property="completedAt" column="completed_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <insert id="insertTodo" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            todo (user_id, description, completed_at, updated_at, created_at)
        VALUES
        (#{userId}, #{description}, NULL, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>

    <update id="updateTodoOnDescriptionById">
        UPDATE
            todo
        SET
            description = #{description},
            updated_at = CURRENT_TIMESTAMP
        WHERE
            id = #{id}
    </update>

    <update id="completeTodoById">
        UPDATE
            todo
        SET
            completed_at = CURRENT_TIMESTAMP
        WHERE
            id = #{id}
    </update>

    <delete id="deleteTodoById">
        DELETE FROM
            todo
        WHERE
            id = #{id}
    </delete>

    <select id="selectTodoById" resultMap="todo">
        SELECT
            *
        FROM
            todo
        WHERE
            id = #{id}
    </select>

    <select id="selectTodosByUserId" resultMap="todo">
        SELECT
            *
        FROM
            todo
        WHERE
            user_id = #{userId}
    </select>

    <delete id="deleteTodosByUserId">
        DELETE FROM
          todo
        WHERE
          user_id = #{userId}
    </delete>

</mapper>