<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lwstudio.springtodo.repository.mybatis.UserMapper">

    <resultMap id="user" type="User">
        <id property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
    </resultMap>

    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
            appuser (username, password, created_at, updated_at)
        VALUES
        (#{username}, #{password}, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
    </insert>

    <update id="updateUserById">
        UPDATE
            appuser
        SET
            username = #{username},
            password = #{password},
            updated_at = CURRENT_TIMESTAMP
        WHERE
            id = #{id}
    </update>

    <delete id="deleteUserById">
        DELETE FROM
          appuser
        WHERE
          id = #{id}
    </delete>

    <select id="selectUserById" resultMap="user">
        SELECT
            *
        FROM
            appuser
        WHERE
            id = #{id}
    </select>

    <select id="selectUserByUsername" resultMap="user">
        SELECT
            *
        FROM
            appuser
        WHERE
            username = #{username}
    </select>

    <select id="selectAllUsers" resultMap="user">
        SELECT
            *
        FROM
            appuser
    </select>

</mapper>